<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/chronux_logo.png" width="150px" />
            <h1>Imij Portal</h1>
            <form role="form">
                <div class="form-content">
                  <div class="form-group">
                    Please enter your email. A password reset link will be emailed to you.
                  </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  class="form-control input-underline input-lg" id="email" placeholder="Email"  (keyup)="checkEmail()" required>
                    </div>

                </div>

                <a *ngIf="disableEmailResetPasswordLink" class="btn rounded-btn"  > Send Email </a>&nbsp;
                <a *ngIf="!disableEmailResetPasswordLink" class="btn rounded-btn" (click)="emailResetPasswordLink()" > Send Email </a>&nbsp;

                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>

            </form>
            <div class="alert alert-success" role="alert" *ngIf="message">
              {{message}}
            </div>
            <br/>
            <div >
              Copyright<i class="fa fa-copyright"></i> Imij Inc. Please read our <a href="#">privacy policy</a>.
            </div>
        </div>
    </div>
</div>
