<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/chronux_logo.png" width="150px" />
            <h1>Imij Portal</h1>
            <form role="form">
                <div class="form-content">

                    <div class="form-group">
                        <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"  class="form-control input-underline input-lg" id="username" disabled>
                    </div>

                    <div class="form-group">
                      <input type="password"  [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" id="newPassword" placeholder="Enter password" required>
                    </div>
                    Password Strength:&nbsp; <password-strength-meter [password]="password"></password-strength-meter>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="repeatNewPassword" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" id="repeatNewPassword" placeholder="Repeat Password"
                         (keyup)="checkRepeatPassword()" required>
                    </div>

                </div>

                <a *ngIf="disableResetPassword" class="btn rounded-btn"  > Reset Password </a>&nbsp;
                <a *ngIf="!disableResetPassword" class="btn rounded-btn" (click)="resetPassword()" > Reset Password </a>&nbsp;

                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
            <div class="alert alert-success" role="alert" *ngIf="message">
              {{message}}
            </div>
            <br/>
            <div >
              Copyright<i class="fa fa-copyright"></i> Imij Inc. Please read our <a href="#">privacy policy</a>.
            </div>
        </div>
    </div>
</div>
