<div class="modal-dialog modal-lg">
  <div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Comment</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div *ngFor="let comment of commentsList">{{comment.commentDate}}&nbsp;{{comment.commentText}}</div>
    <!-- <div [formGroup]="commentForm" class="container" *ngIf="allowAddComment"> -->
      <div class="container" *ngIf="allowAddComment">

       <div class="form-group">
         <label for="commentText">Comment Text</label>
         <textarea style="form-control form-control-sm col-sm-3" formControlName="commentText" rows="6" cols="45" (keyup)="checkInput()">
         </textarea>
       </div>
     </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="allowAddComment" type="button" class="btn btn-outline-dark" (click)="submitForm()" [disabled]="disableSubmit">Submit</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
</div>
