<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <!-- <data-table id="persons-grid"
        headerTitle="List of uploaded files"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'name'"
            [header]="'Name'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'chksum'"
            [header]="'Checksum'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

    </data-table> -->
</div>
