<div class="chat-panel card card-default">
    <div class="card-header">
        <i class="fa fa-link fa-fw"></i>
        Links
    </div>
    <!-- /.panel-heading -->
    <div class="card-body">
        <ul class="chat">
            <li class="right clearfix">
                <div class="chat-body clearfix">
                    <p>
                     <a [routerLink]="['/add-patient']"> 
                     <button class="btn btn-info btn-lg" id="btn-new">
                     
                    Add New Patient
                    
                </button></a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">

    </div>
    <!-- /.card-footer -->
</div>
